* {box-sizing: border-box}

/* Used to set variables which are used over and over again*/
:root {
  --home-color: #2f89ba;
  --uv-color: #4166d0;
  --blue-color: #5244e6;
  --about-color: #661cff;
}

#Home {background-color: var(--home-color);}
#WT_4_365 {background-color: var(--uv-color);}
#WT_4_457 {background-color: var(--blue-color);}
#About_Us {background-color: var(--about-color);}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Set the style for the html id="header" */
#header {
  background-color: #555;
  padding: 20px 20px;
  text-align: right;
  vertical-align: center;
  font-size: 30px;
  color: white;
}

#box_images {
  width:200px;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
